<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Training_Distro>
            <version>0.0.1</version>
        </Training_Distro>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <training_distro>
                    <file>training/distributor.xml</file>
                </training_distro>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
<Training_Distro after="Mage_Adminhtml">Training_Distro_Adminhtml</Training_Distro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <training_distro>
                    <file>training/distributor.xml</file>
                </training_distro>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <training_distro_setup>
                <setup>
                    <module>Training_Distro</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </training_distro_setup>
        </resources>
        <blocks>
            <training_distro>
                <class>Training_Distro_Block</class>
            </training_distro>
        </blocks>
        <helpers>
            <training_distro>
                <class>Training_Distro_Helper</class>
            </training_distro>
        </helpers>
        <models>
            <training_distro>
                <class>Training_Distro_Model</class>
                <resourceModel>training_distro_resource</resourceModel>
            </training_distro>
            <training_distro_resource>
                <class>Training_Distro_Model_Resource</class>
                <entities>
                    <distributor>
                        <table>training_distro_entity</table>
                    </distributor>
                </entities>
            </training_distro_resource>
        </models>
    </global>
</config>